body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
}

.logo {
  color: white;
  margin: 0;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-group select,
.search-group input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-group select {
  width: 150px;
  background: transparent;
    color: #fff;
    border: 0px;
}

.search-group input {
  width: 200px;
}
h1.logo a {
  color: #fff;
  text-decoration: none;
}

.cta-button {
  position: relative;
  display: inline-block;
}

.cta-button .menbtn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  text-decoration: none;
}

.cta-button button:focus {
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
  right: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.cta-button:hover .dropdown-content {
  display: block;
}



.user-greeting {
  color: white;
}

.profile-container {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 480px;
}

.profile-container h2 {
  margin-top: 0;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  overflow-x: auto;
}

nav ul li {
  margin-right: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  white-space: nowrap;
}

nav ul li.active {
  font-weight: bold;
  text-decoration: underline;
  border-bottom: 3px solid black;
  text-decoration: none;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 17px 0px;
}

.profile-item .label {
  font-weight: bold;
}

.edit-button {
  margin-top: 20px;
  padding: 10px 20px;
  color: #000;
  border: none;
  cursor: pointer;
  text-align: center;
  align-self: flex-start;
}

.no-rating {
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

.no-rating h4 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.no-rating p {
  margin: 0;
  font-size: 1em;
  color: #666;
}


.account-item {
  padding: 20px 0px ;
}

.upper-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.upper-inputs h3 {
  margin: 0;
}

.upper-inputs .edit-button {
  margin-left: auto;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    padding: 25px 40px;
  }

  .search-bar {
    flex-direction: column;
    width: 100%;
  }

  .search-bar .search-group {
    width: 100%;
    flex-direction: column;
    padding: 5px 0px;
  }
  .cta-button {
    margin-top: 10px;
}
  a.menbtn{
    background: #fff !important;
    color: #000 !important;
  }

  .search-bar select,
  .search-bar input {
    width: 100%;
    margin-bottom: 10px;
  }

  .profile-container {
    width: 90%;
  }

  .profile-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-item span {
    margin-bottom: 5px;
  }

  .edit-button {
    align-self: stretch;
    text-align: center;
  }
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-links, .footer-social, .footer-logo, .footer-copyright {
  margin: 10px 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social a {
  margin: 0 10px;
  display: inline-block;
}

.footer-social img {
  width: 24px;
  height: 24px;
}

.footer-logo img {
  width: 50px;
  height: auto;
}
.footer.social-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

@media (max-width: 600px) {
  .footer-links a, .footer-social a {
      display: block;
      margin: 5px 0;
  }
}

.cta-button {
  position: relative;
  display: inline-block;
}

.cta-button .menbtn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  text-decoration: none;
}

.cta-button button:focus {
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
  right: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.cta-button:hover .dropdown-content {
  display: block;
}

